/* ----------
- Core app based SCSS
---------- */

@import "./variables";
@import "./grid";
@import "./tile";
@import "./fonts";
@import "./buttons";

html,
body {
	align-items: center;
	display: grid;
	height: 100%;
	justify-content: center;
	margin: 0;
	width: 100%;
}

body {
	background: #fcf9e7;
	color: #fff;
	font-family: "Gloria Hallelujah";
	text-shadow: 1px 1px 1px #000;
}

.bg {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
