/* ----------
- Buttons SCSS
---------- */

.btn {
	appearance: none;
	background-color: transparent;
	border: 0;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: 0;
	}

	&-sound {
		background-image: url("../images/icons/icon-speaker.svg");
		background-size: 100% auto;
		height: 1.75rem;
		position: fixed;
		right: 0.5rem;
		text-indent: -999rem;
		top: 0.5rem;
		width: 1.75rem;
		z-index: 3;

		&_disabled {
			opacity: 0.3;

			&::before {
				background: #f00;
				content: "";
				height: 4px;
				left: 0;
				position: absolute;
				top: 0.8rem;
				transform: rotate(-45deg);
				width: 120%;
			}
		}
	}

	&-home {
		background-image: url("../images/icons/icon-home.svg");
		background-size: 100% auto;
		height: 1.75rem;
		left: 0.5rem;
		position: fixed;
		text-indent: -999rem;
		top: 0.5rem;
		transform: translate3d(0, 0, 0);
		transition: all 350ms;
		width: 1.75rem;
		z-index: 3;

		&_disabled {
			transform: translate3d(0, -150%, 0);
		}
	}

	&-game {
		color: #fff;
		font-family: "Gloria Hallelujah";
		font-range: 25rem 75rem;
		font-size: responsive 15px 30px;
		text-shadow: 1px 1px 1px #000;
	}
}
