/* ----------
- Level complete SCSS
---------- */

$transitionSpeed: 500ms;

.level-complete {
	display: flex;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;

	&_hide {
		display: none;
	}

	&__overlay {
		background: #fff;
		height: 100%;
		left: 0;
		opacity: 1;
		overflow: hidden;
		position: fixed;
		top: 0;
		transition: opacity $transitionSpeed linear;
		width: 100%;
		z-index: 1;

		&_hide {
			opacity: 0;
		}
	}

	&__sunbeams {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		overflow: hidden;
		position: fixed;
		width: 100%;
		z-index: 2;

		&-bg {
			animation: sunbeams 60s infinite linear;
			background-image: url("../images/sunbeams.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 75%;
			height: 100%;
			opacity: 1;
			padding-left: 200vmax;
			padding-top: 200vmax;
			transition: $transitionSpeed ease-in-out;
			width: 100%;
			z-index: 2;

			&_hide {
				opacity: 0;
			}
		}
	}

	&__contents {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		line-height: 0;
		opacity: 1;
		transform: scale(1);
		transition: $transitionSpeed cubic-bezier(0.5, -0.55, 0.5, 1.55);
		width: 100%;
		z-index: 3;

		&_hide {
			opacity: 0;
			transform: scale(0);
		}

		&-emoji {
			text-align: center;
			width: 100%;

			&-img {
				height: auto;
				width: 45%;

				@media ($bp-m) {
					width: 30%;
				}
			}
		}
	}
}

@keyframes sunbeams {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
