/* ----------
- Pre-loader SCSS
---------- */

.loader {
	background: #fff;
	-webkit-clip-path: none; /* stylelint-disable-line */ // Safari fix
	clip-path: url("#mask");
	height: 180px;
	transition: 150ms linear;
	width: 180px;

	&-wrapper {
		margin: auto;
	}

	&-error {
		text-align: center;
	}

	&_progress {
		background: #bbb;
		width: 0;
	}
}
