/* ----------
- Individual tile SCSS
---------- */

.tile {
	backface-visibility: hidden;
	background: #fff;
	border-radius: 10%;
	border-style: solid;
	border-width: 0.2rem;
	box-sizing: border-box;
	outline: 1px solid transparent; // Fixes anti-aliasing in Firefox
	overflow: hidden;
	padding-top: calc(100% - 0.4rem);
	transform-style: preserve-3d;
	transition: 400ms;
	user-select: none;
	width: 100%;

	&-wrapper {
		transition: 500ms cubic-bezier(0, 0.01, 0.22, 1.5);
	}

	// Font sizing uses postcss-responsive-type
	&__content {
		bottom: 0;
		color: #fff;
		font-family: "Gloria Hallelujah";
		font-range: 25rem 35rem;
		font-size: responsive 10px 18px;
		line-height: 2.5;
		position: absolute;
		text-align: center;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		width: 100%;

		@media ($bp-s) {
			font-range: 35rem 75rem;
			font-size: responsive 12px 26px;
		}

		@media ($bp-m) {
			font-range: 75rem 120rem;
			font-size: responsive 20px 34px;

			.grid-16 & {
				font-range: 75rem 120rem;
				font-size: responsive 14px 24px;
			}
		}

		@media ($bp-l) {
			font-range: 120rem 130rem;
			font-size: responsive 22px 32px;

			.grid-16 & {
				font-range: 120rem 130rem;
				font-size: responsive 24px 26px;
			}
		}
	}

	// Font sizing uses postcss-responsive-type
	&__number {
		align-items: center;
		color: #fff;
		display: flex;
		font-family: "Gloria Hallelujah";
		font-range: 25rem 35rem;
		font-size: responsive 50px 100px;
		height: 100%;
		justify-content: center;
		left: 0;
		position: absolute;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		top: 0;
		width: 100%;

		@media ($bp-s) {
			font-range: 35rem 75rem;
			font-size: responsive 60px 130px;

			.grid-20 & {
				font-size: responsive 50px 120px;
			}
		}

		@media ($bp-m) {
			font-range: 75rem 120rem;
			font-size: responsive 60px 120px;

			.grid-20 & {
				font-size: responsive 60px 120px;
			}
		}

		@media ($bp-l) {
			font-range: 120rem 130rem;
			font-size: responsive 100px 160px;

			.grid-20 & {
				font-size: responsive 60px 120px;
			}
		}
	}

	&_back {
		cursor: pointer;
		position: relative;
		transform: rotateY(0deg);
		z-index: 2;

		&-flipped {
			transform: rotateY(180deg);
		}
	}

	&_front {
		background-size: 101%; // Make slightly larger to fix scaling issue in Chrome
		position: absolute;
		top: 0;
		transform: rotateY(180deg);
		z-index: 1;

		&-flipped {
			transform: rotateY(0deg);
		}
	}

	&_colour {
		&::before {
			background: radial-gradient(ellipse farthest-corner at left top, #fff 0%, rgba(255, 255, 255, 0) 66%);
			content: "";
			height: 100%;
			left: 0;
			opacity: 0.75;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	&__logo {
		height: 30%;
		left: 35%;
		position: absolute;
		top: 35%;
		width: auto;
	}
}
