/* ----------
- SASS Variables
---------- */

/* Colours */
$base-colour-a: #313e80; // Blue
$base-colour-b: #9a7c36; // Gold
$base-colour-c: #803589; // Purple
$base-colour-d: #cc007f; // Pink
$base-colour-e: #ae8e78; // Brown
$body-font-colour: #312f2d;

/* Site fonts */
$site-primary-font: "";
$site-secondary-font: "";
$fallback-font: "Arial", sans-serif;
